#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&gresc { keep-mods = <(MOD_LSFT|MOD_RSFT)>; };

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        Numlock: Numlock {
            compatible = "zmk,behavior-tap-dance";
            label = "NUMLOCK";
            #binding-cells = <0>;
            bindings = <&sl 3>, <&tog 3>;
        };

        Navlock: Navlock {
            compatible = "zmk,behavior-tap-dance";
            label = "NAVLOCK";
            #binding-cells = <0>;
            bindings = <&sl 3>, <&tog 3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        pinky_ret {
            bindings = <&kp RET>;
            key-positions = <29 47>;
        };

        ea_h {
            bindings = <&kp H>;
            key-positions = <30 31>;
        };

        et_s {
            bindings = <&kp S>;
            key-positions = <30 32>;
        };

        ei_lalt {
            bindings = <&sk LALT>;
            key-positions = <30 48>;
        };

        eo_y {
            bindings = <&kp Y>;
            key-positions = <30 49>;
        };

        en_w {
            bindings = <&kp W>;
            key-positions = <30 50>;
        };

        at_r {
            bindings = <&kp R>;
            key-positions = <31 32>;
        };

        ai_g {
            bindings = <&kp G>;
            key-positions = <31 48>;
        };

        ao_ctrl {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <31 49>;
        };

        an_d {
            bindings = <&kp D>;
            key-positions = <31 50>;
        };

        ti_m {
            bindings = <&kp M>;
            key-positions = <32 48>;
        };

        to_f {
            bindings = <&kp F>;
            key-positions = <32 49>;
        };

        tn_meta {
            bindings = <&sk LEFT_META>;
            key-positions = <32 50>;
        };

        io_u {
            bindings = <&kp U>;
            key-positions = <49 48>;
        };

        in_c {
            bindings = <&kp C>;
            key-positions = <48 50>;
        };

        on_l {
            bindings = <&kp L>;
            key-positions = <50 49>;
        };

        eia_apos {
            bindings = <&kp SQT>;
            key-positions = <31 30 48>;
        };

        eit_minus {
            bindings = <&kp MINUS>;
            key-positions = <48 30 32>;
        };

        eio_comma {
            bindings = <&kp COMMA>;
            key-positions = <30 48 49>;
        };

        ein_dot {
            bindings = <&kp DOT>;
            key-positions = <48 30 50>;
        };

        eao_p {
            bindings = <&kp P>;
            key-positions = <49 31 30>;
        };

        aot_z {
            bindings = <&kp Z>;
            key-positions = <49 31 32>;
        };

        aoi_b {
            bindings = <&kp B>;
            key-positions = <49 31 48>;
        };

        aon_x {
            bindings = <&kp X>;
            key-positions = <49 31 50>;
        };

        tne_q {
            bindings = <&kp Q>;
            key-positions = <50 32 30>;
        };

        tna_v {
            bindings = <&kp V>;
            key-positions = <32 31 50>;
        };

        tni_j {
            bindings = <&kp J>;
            key-positions = <32 50 48>;
        };

        tno_k {
            bindings = <&kp K>;
            key-positions = <32 50 49>;
        };

        eiao_del {
            bindings = <&kp DELETE>;
            key-positions = <48 30 31 49>;
        };

        eitn_num {
            bindings = <&Numlock>;
            key-positions = <48 30 32 50>;
        };

        aotn_nav {
            bindings = <&Navlock>;
            key-positions = <50 32 31 49>;
        };

        eat_ret {
            bindings = <&kp RETURN>;
            key-positions = <30 31 32>;
        };

        ean_paste {
            bindings = <&kp LC(V)>;
            key-positions = <30 31 50>;
        };

        eot_copy {
            bindings = <&kp LC(C)>;
            key-positions = <32 49 30>;
        };

        eon_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <30 49 50>;
        };

        iat_cut {
            bindings = <&kp LC(X)>;
            key-positions = <48 31 32>;
        };

        ian_showall {
            bindings = <&kp LG(W)>;
            key-positions = <48 31 50>;
        };

        iot_redo {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <48 49 32>;
        };

        ion_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <48 49 50>;
        };

        SPtab_home {
            bindings = <&kp HOME>;
            key-positions = <29 66>;
        };

        SPesc_left {
            bindings = <&kp LEFT>;
            key-positions = <47 66>;
        };

        SPe_pgdn {
            bindings = <&kp PG_DN>;
            key-positions = <30 66>;
        };

        SPa_pgup {
            bindings = <&kp PG_UP>;
            key-positions = <31 66>;
        };

        SPt_end {
            bindings = <&kp END>;
            key-positions = <32 66>;
        };

        SPi_down {
            bindings = <&kp DOWN>;
            key-positions = <48 66>;
        };

        SPo_up {
            bindings = <&kp UP>;
            key-positions = <49 66>;
        };

        SPn_right {
            bindings = <&kp RIGHT>;
            key-positions = <50 66>;
        };

        SPx_left {
            bindings = <&kp LEFT>;
            key-positions = <48 66>;
        };

        SPc_down {
            bindings = <&kp DOWN>;
            key-positions = <29 47 66>;
        };

        SPv_right {
            bindings = <&kp RIGHT>;
            key-positions = <29 47 66>;
        };

        SPpinky_meta {
            bindings = <&sk LEFT_GUI>;
            key-positions = <29 47 66>;
        };

        SPea_question {
            bindings = <&kp QUESTION>;
            key-positions = <66 30 31>;
        };

        SPet_VolUp {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <66 30 32>;
        };

        SPei_rbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <66 30 48>;
        };

        SPeo_gresc {
            bindings = <&gresc>;
            key-positions = <66 30 49>;
        };

        SPen_bslash {
            bindings = <&kp BSLH>;
            key-positions = <66 30 50>;
        };

        SPat_plus {
            bindings = <&kp PLUS>;
            key-positions = <66 31 32>;
        };

        SPai_stab {
            bindings = <&kp LS(TAB)>;
            key-positions = <66 31 48>;
        };

        SPao_rbracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <66 31 49>;
        };

        SPan_at {
            bindings = <&kp AT_SIGN>;
            key-positions = <66 31 50>;
        };

        SPti_slash {
            bindings = <&kp SLASH>;
            key-positions = <66 32 48>;
        };

        SPto_hash {
            bindings = <&kp HASH>;
            key-positions = <66 32 49>;
        };

        SPtn_rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <66 32 50>;
        };

        SPio_equal {
            bindings = <&kp EQUAL>;
            key-positions = <66 49 48>;
        };

        SPin_dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <66 48 50>;
        };

        SPon_amps {
            bindings = <&kp AMPS>;
            key-positions = <66 50 49>;
        };

        SPeia_dqt {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <66 31 30 48>;
        };

        SPeit_under {
            bindings = <&kp UNDER>;
            key-positions = <66 48 30 32>;
        };

        SPeio_semi {
            bindings = <&kp SEMI>;
            key-positions = <66 30 48 49>;
        };

        SPein_colon {
            bindings = <&kp COLON>;
            key-positions = <66 48 30 50>;
        };

        SPeao_p {
            bindings = <&kp P>;
            key-positions = <66 49 31 30>;
        };

        SPaot_k {
            bindings = <&kp K>;
            key-positions = <66 49 31 32>;
        };

        SPaoi_b {
            bindings = <&kp B>;
            key-positions = <66 49 31 48>;
        };

        SPaon_v {
            bindings = <&kp V>;
            key-positions = <66 49 31 50>;
        };

        SPtne_q {
            bindings = <&kp Q>;
            key-positions = <66 50 32 30>;
        };

        SPtna_x {
            bindings = <&kp X>;
            key-positions = <66 32 31 50>;
        };

        SPtni_j {
            bindings = <&kp J>;
            key-positions = <66 32 50 48>;
        };

        SPtno_z {
            bindings = <&kp Z>;
            key-positions = <66 32 50 49>;
        };

        SPeiao_bt {
            bindings = <&sl 7>;
            key-positions = <66 48 30 31 49>;
        };

        SPeitn_misc {
            bindings = <&sl 6>;
            key-positions = <66 48 30 32 50>;
        };

        SPaotn_sym {
            bindings = <&sl 5>;
            key-positions = <66 50 32 31 49>;
        };

        SPeat_ret {
            bindings = <&kp RETURN>;
            key-positions = <66 30 31 32>;
        };

        SPean_spaste {
            bindings = <&kp LC(LS(V))>;
            key-positions = <66 30 31 50>;
        };

        SPeot_scopy {
            bindings = <&kp LC(LS(C))>;
            key-positions = <66 32 49 30>;
        };

        SPeon_sundo {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <66 30 49 50>;
        };

        SPiat_scut {
            bindings = <&kp LC(LS(X))>;
            key-positions = <66 48 31 32>;
        };

        SPian_showdesktops {
            bindings = <&kp LG(G)>;
            key-positions = <66 48 31 50>;
        };

        SPiot_unsredo {
            bindings = <&kp LC(Z)>;
            key-positions = <66 48 49 32>;
        };

        SPion_tilde {
            bindings = <&kp TILDE>;
            key-positions = <66 48 49 50>;
        };

        BSpinky_smeta {
            bindings = <&kp LS(RET)>;
            key-positions = <29 47 65>;
        };

        BSea_question {
            bindings = <&kp QUESTION>;
            key-positions = <30 31 65>;
        };

        BSet_voldn {
            bindings = <&kp C_VOL_DN>;
            key-positions = <65 30 32>;
        };

        BSei_lbrace {
            bindings = <&sk LEFT_BRACE>;
            key-positions = <65 30 48>;
        };

        BSeo_gresc {
            bindings = <&gresc>;
            key-positions = <65 30 49>;
        };

        BSen_caret {
            bindings = <&kp CARET>;
            key-positions = <65 30 50>;
        };

        BSat_astrk {
            bindings = <&kp ASTRK>;
            key-positions = <65 31 32>;
        };

        BSai_atab {
            bindings = <&kp LA(G)>;
            key-positions = <65 31 48>;
        };

        BSao_lbracket {
            bindings = <&sk LEFT_BRACKET>;
            key-positions = <65 31 49>;
        };

        BSan_at {
            bindings = <&kp AT_SIGN>;
            key-positions = <65 31 50>;
        };

        BSti_percent {
            bindings = <&kp PERCENT>;
            key-positions = <65 32 48>;
        };

        BSto_hash {
            bindings = <&kp HASH>;
            key-positions = <65 32 49>;
        };

        BStn_lparen {
            bindings = <&sk LEFT_PARENTHESIS>;
            key-positions = <65 32 50>;
        };

        BSio_equal {
            bindings = <&kp EQUAL>;
            key-positions = <65 49 48>;
        };

        BSin_dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <65 48 50>;
        };

        BSon_pipe {
            bindings = <&kp PIPE>;
            key-positions = <65 50 49>;
        };

        BSeia_grave {
            bindings = <&kp GRAVE>;
            key-positions = <65 31 30 48>;
        };

        BSeit_tilde {
            bindings = <&kp TILDE>;
            key-positions = <65 48 30 32>;
        };

        BSeio_question {
            bindings = <&kp QUESTION>;
            key-positions = <65 30 48 49>;
        };

        BSein_exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <65 48 30 50>;
        };

        BSeao_p {
            bindings = <&kp P>;
            key-positions = <65 49 31 30>;
        };

        BSaot_k {
            bindings = <&kp K>;
            key-positions = <65 49 31 32>;
        };

        BSaoi_b {
            bindings = <&kp B>;
            key-positions = <65 49 31 48>;
        };

        BSaon_v {
            bindings = <&kp V>;
            key-positions = <65 49 31 50>;
        };

        BStne_q {
            bindings = <&kp Q>;
            key-positions = <65 50 32 30>;
        };

        BStna_x {
            bindings = <&kp X>;
            key-positions = <65 32 31 50>;
        };

        BStni_j {
            bindings = <&kp J>;
            key-positions = <65 32 50 48>;
        };

        BStno_z {
            bindings = <&kp Z>;
            key-positions = <65 32 50 49>;
        };

        BSeiao_cbspc {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <65 48 30 31 49>;
        };

        BSeitn_sym {
            bindings = <&sl 5>;
            key-positions = <65 48 30 32 50>;
        };

        BSaotn_bt {
            bindings = <&sl 7>;
            key-positions = <65 50 32 31 49>;
        };

        BSeat_ret {
            bindings = <&kp RETURN>;
            key-positions = <65 30 31 32>;
        };

        BSean_paste {
            bindings = <&kp LC(V)>;
            key-positions = <65 30 31 50>;
        };

        BSeot_copy {
            bindings = <&kp LC(C)>;
            key-positions = <65 32 49 30>;
        };

        BSeon_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <65 30 49 50>;
        };

        BSiat_cut {
            bindings = <&kp LC(X)>;
            key-positions = <65 48 31 32>;
        };

        BSian_showdesktop {
            bindings = <&kp LG(D)>;
            key-positions = <65 48 31 50>;
        };

        BSiot_redo {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <65 48 49 32>;
        };

        BSion_grave {
            bindings = <&kp GRAVE>;
            key-positions = <65 48 49 50>;
        };

        fingers_misc {
            bindings = <&sl 6>;
            key-positions = <30 31 32 50 49 48>;
        };

        pinky_ret_R {
            bindings = <&kp RET>;
            key-positions = <44 58>;
        };

        ea_h_R {
            bindings = <&kp H>;
            key-positions = <43 42>;
        };

        et_s_R {
            bindings = <&kp S>;
            key-positions = <43 41>;
        };

        ei_lalt_R {
            bindings = <&sk LALT>;
            key-positions = <43 57>;
        };

        eo_y_R {
            bindings = <&kp Y>;
            key-positions = <43 56>;
        };

        en_w_R {
            bindings = <&kp W>;
            key-positions = <43 55>;
        };

        at_r_R {
            bindings = <&kp R>;
            key-positions = <42 41>;
        };

        ai_g_R {
            bindings = <&kp G>;
            key-positions = <42 57>;
        };

        ao_ctrl_R {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <42 56>;
        };

        an_d_R {
            bindings = <&kp D>;
            key-positions = <42 55>;
        };

        ti_m_R {
            bindings = <&kp M>;
            key-positions = <41 57>;
        };

        to_f_R {
            bindings = <&kp F>;
            key-positions = <41 56>;
        };

        tn_meta_R {
            bindings = <&sk LEFT_META>;
            key-positions = <41 55>;
        };

        io_u_R {
            bindings = <&kp U>;
            key-positions = <56 57>;
        };

        in_c_R {
            bindings = <&kp C>;
            key-positions = <57 55>;
        };

        on_l_R {
            bindings = <&kp L>;
            key-positions = <55 56>;
        };

        eia_apos_R {
            bindings = <&kp SQT>;
            key-positions = <42 43 57>;
        };

        eit_minus_R {
            bindings = <&kp MINUS>;
            key-positions = <57 43 41>;
        };

        eio_comma_R {
            bindings = <&kp COMMA>;
            key-positions = <43 57 56>;
        };

        ein_dot_R {
            bindings = <&kp DOT>;
            key-positions = <57 43 55>;
        };

        eao_p_R {
            bindings = <&kp P>;
            key-positions = <56 42 43>;
        };

        aot_z_R {
            bindings = <&kp Z>;
            key-positions = <56 42 41>;
        };

        aoi_b_R {
            bindings = <&kp B>;
            key-positions = <56 42 57>;
        };

        aon_x_R {
            bindings = <&kp X>;
            key-positions = <56 42 55>;
        };

        tne_q_R {
            bindings = <&kp Q>;
            key-positions = <55 41 43>;
        };

        tna_v_R {
            bindings = <&kp V>;
            key-positions = <41 42 55>;
        };

        tni_j_R {
            bindings = <&kp J>;
            key-positions = <41 55 57>;
        };

        tno_k_R {
            bindings = <&kp K>;
            key-positions = <41 55 56>;
        };

        eiao_del_R {
            bindings = <&kp DELETE>;
            key-positions = <57 43 42 56>;
        };

        eitn_num_R {
            bindings = <&Numlock>;
            key-positions = <57 43 41 55>;
        };

        aotn_nav_R {
            bindings = <&Navlock>;
            key-positions = <55 41 42 56>;
        };

        eat_ret_R {
            bindings = <&kp RETURN>;
            key-positions = <43 42 41>;
        };

        ean_paste_R {
            bindings = <&kp LC(V)>;
            key-positions = <43 42 55>;
        };

        eot_copy_R {
            bindings = <&kp LC(C)>;
            key-positions = <41 56 43>;
        };

        eon_undo_R {
            bindings = <&kp LC(Z)>;
            key-positions = <43 56 55>;
        };

        iat_cut_R {
            bindings = <&kp LC(X)>;
            key-positions = <57 42 41>;
        };

        ian_showall_R {
            bindings = <&kp LG(W)>;
            key-positions = <57 42 55>;
        };

        iot_redo_R {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <57 56 41>;
        };

        ion_esc_R {
            bindings = <&kp ESCAPE>;
            key-positions = <57 56 55>;
        };

        SPtab_home_R {
            bindings = <&kp HOME>;
            key-positions = <44 69>;
        };

        SPesc_left_R {
            bindings = <&kp LEFT>;
            key-positions = <58 69>;
        };

        SPe_pgdn_R {
            bindings = <&kp PG_DN>;
            key-positions = <43 69>;
        };

        SPa_pgup_R {
            bindings = <&kp PG_UP>;
            key-positions = <42 69>;
        };

        SPt_end_R {
            bindings = <&kp END>;
            key-positions = <41 69>;
        };

        SPi_down_R {
            bindings = <&kp DOWN>;
            key-positions = <57 69>;
        };

        SPo_up_R {
            bindings = <&kp UP>;
            key-positions = <56 69>;
        };

        SPn_right_R {
            bindings = <&kp RIGHT>;
            key-positions = <55 69>;
        };

        SPx_left_R {
            bindings = <&kp LEFT>;
            key-positions = <57 69>;
        };

        SPc_down_R {
            bindings = <&kp DOWN>;
            key-positions = <44 58 69>;
        };

        SPv_right_R {
            bindings = <&kp RIGHT>;
            key-positions = <44 58 69>;
        };

        SPpinky_meta_R {
            bindings = <&sk LEFT_GUI>;
            key-positions = <44 58 69>;
        };

        SPxc_undo_R {
            bindings = <&kp LC(Z)>;
            key-positions = <57 56 69>;
        };

        SPxv_save_R {
            bindings = <&kp LC(S)>;
            key-positions = <57 55 69>;
        };

        SPcv_redo_R {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <55 56 69>;
        };

        SPxcv_lockscreen_R {
            bindings = <&kp LG(L)>;
            key-positions = <57 56 55 69>;
        };

        SPea_question_R {
            bindings = <&kp QUESTION>;
            key-positions = <69 43 42>;
        };

        SPet_VolUp_R {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <69 43 41>;
        };

        SPei_rbrace_R {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <69 43 57>;
        };

        SPeo_gresc_R {
            bindings = <&gresc>;
            key-positions = <69 43 56>;
        };

        SPen_bslash_R {
            bindings = <&kp BSLH>;
            key-positions = <69 43 55>;
        };

        SPat_plus_R {
            bindings = <&kp PLUS>;
            key-positions = <69 42 41>;
        };

        SPai_stab_R {
            bindings = <&kp LS(TAB)>;
            key-positions = <69 42 57>;
        };

        SPao_rbracket_R {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <69 42 56>;
        };

        SPan_at_R {
            bindings = <&kp AT_SIGN>;
            key-positions = <69 42 55>;
        };

        SPti_slash_R {
            bindings = <&kp SLASH>;
            key-positions = <69 41 57>;
        };

        SPto_hash_R {
            bindings = <&kp HASH>;
            key-positions = <69 41 56>;
        };

        SPtn_rparen_R {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <69 41 55>;
        };

        SPio_equal_R {
            bindings = <&kp EQUAL>;
            key-positions = <69 56 57>;
        };

        SPin_dollar_R {
            bindings = <&kp DOLLAR>;
            key-positions = <69 57 55>;
        };

        SPon_amps_R {
            bindings = <&kp AMPS>;
            key-positions = <69 55 56>;
        };

        SPeia_dqt_R {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <69 42 43 57>;
        };

        SPeit_under_R {
            bindings = <&kp UNDER>;
            key-positions = <69 57 43 41>;
        };

        SPeio_semi_R {
            bindings = <&kp SEMI>;
            key-positions = <69 43 57 56>;
        };

        SPein_colon_R {
            bindings = <&kp COLON>;
            key-positions = <69 57 43 55>;
        };

        SPeao_p_R {
            bindings = <&kp P>;
            key-positions = <69 56 42 43>;
        };

        SPaot_k_R {
            bindings = <&kp K>;
            key-positions = <69 56 42 41>;
        };

        SPaoi_b_R {
            bindings = <&kp B>;
            key-positions = <69 56 42 57>;
        };

        SPaon_v_R {
            bindings = <&kp V>;
            key-positions = <69 56 42 55>;
        };

        SPtne_q_R {
            bindings = <&kp Q>;
            key-positions = <69 55 41 43>;
        };

        SPtna_x_R {
            bindings = <&kp X>;
            key-positions = <69 41 42 55>;
        };

        SPtni_j_R {
            bindings = <&kp J>;
            key-positions = <69 41 55 57>;
        };

        SPtno_z_R {
            bindings = <&kp Z>;
            key-positions = <69 41 55 56>;
        };

        SPeiao_ctrl+del_R {
            bindings = <&kp LC(DELETE)>;
            key-positions = <69 57 43 42 56>;
        };

        SPeitn_sym_R {
            bindings = <&sl 5>;
            key-positions = <69 57 43 41 55>;
        };

        SPaotn_bt_R {
            bindings = <&sl 7>;
            key-positions = <69 55 41 42 56>;
        };

        SPeat_ret_R {
            bindings = <&kp RETURN>;
            key-positions = <69 43 42 41>;
        };

        SPean_spaste_R {
            bindings = <&kp LC(LS(V))>;
            key-positions = <69 43 42 55>;
        };

        SPeot_scopy_R {
            bindings = <&kp LC(LS(C))>;
            key-positions = <69 41 56 43>;
        };

        SPeon_sundo_R {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <69 43 56 55>;
        };

        SPiat_scut_R {
            bindings = <&kp LC(LS(X))>;
            key-positions = <69 57 42 41>;
        };

        SPian_showdesktops_R {
            bindings = <&kp LG(G)>;
            key-positions = <69 57 42 55>;
        };

        SPiot_unsredo_R {
            bindings = <&kp LC(Z)>;
            key-positions = <69 57 56 41>;
        };

        SPion_tilde_R {
            bindings = <&kp TILDE>;
            key-positions = <69 57 56 55>;
        };

        BStab_dot_R {
            bindings = <&kp DOT>;
            key-positions = <44 70>;
        };

        BSesc_0_R {
            bindings = <&kp N0>;
            key-positions = <58 70>;
        };

        BSe_9_R {
            bindings = <&kp N9>;
            key-positions = <43 70>;
        };

        BSa_8_R {
            bindings = <&kp N8>;
            key-positions = <44 58 70>;
        };

        BSt_7_R {
            bindings = <&kp N7>;
            key-positions = <44 58 70>;
        };

        BSi_6_R {
            bindings = <&kp N6>;
            key-positions = <57 70>;
        };

        BSo_5_R {
            bindings = <&kp N5>;
            key-positions = <56 70>;
        };

        BSn_4_R {
            bindings = <&sk N4>;
            key-positions = <55 70>;
        };

        BSx_3_R {
            bindings = <&sk N3>;
            key-positions = <57 70>;
        };

        BSc_2_R {
            bindings = <&kp N2>;
            key-positions = <56 70>;
        };

        BSv_1_R {
            bindings = <&kp N1>;
            key-positions = <55 70>;
        };

        BSpinky_sret_R {
            bindings = <&kp LS(RET)>;
            key-positions = <44 58 70>;
        };

        BSea_question_R {
            bindings = <&kp QUESTION>;
            key-positions = <43 42 70>;
        };

        BSet_voldn_R {
            bindings = <&kp C_VOL_DN>;
            key-positions = <70 43 41>;
        };

        BSei_lbrace_R {
            bindings = <&sk LEFT_BRACE>;
            key-positions = <70 43 57>;
        };

        BSeo_gresc_R {
            bindings = <&gresc>;
            key-positions = <70 43 56>;
        };

        BSen_caret_R {
            bindings = <&kp CARET>;
            key-positions = <70 43 55>;
        };

        BSat_astrk_R {
            bindings = <&kp ASTRK>;
            key-positions = <70 42 41>;
        };

        BSai_atab_R {
            bindings = <&kp LA(TAB)>;
            key-positions = <70 42 57>;
        };

        BSao_lbracket_R {
            bindings = <&sk LEFT_BRACKET>;
            key-positions = <70 42 56>;
        };

        BSan_at_R {
            bindings = <&kp AT_SIGN>;
            key-positions = <70 42 55>;
        };

        BSti_percent_R {
            bindings = <&kp PERCENT>;
            key-positions = <70 41 57>;
        };

        BSto_hash_R {
            bindings = <&kp HASH>;
            key-positions = <70 41 56>;
        };

        BStn_lparen_R {
            bindings = <&sk LEFT_PARENTHESIS>;
            key-positions = <70 41 55>;
        };

        BSio_equal_R {
            bindings = <&kp EQUAL>;
            key-positions = <70 56 57>;
        };

        BSin_dollar_R {
            bindings = <&kp DOLLAR>;
            key-positions = <70 57 55>;
        };

        BSon_pipe_R {
            bindings = <&kp PIPE>;
            key-positions = <70 55 56>;
        };

        BSeia_grave_R {
            bindings = <&kp GRAVE>;
            key-positions = <70 42 43 57>;
        };

        BSeit_tilde_R {
            bindings = <&kp TILDE>;
            key-positions = <70 57 43 41>;
        };

        BSeio_question_R {
            bindings = <&kp QUESTION>;
            key-positions = <70 43 57 56>;
        };

        BSein_exclamation_R {
            bindings = <&kp EXCLAMATION>;
            key-positions = <70 57 43 55>;
        };

        BSeao_p_R {
            bindings = <&kp P>;
            key-positions = <70 56 42 43>;
        };

        BSaot_k_R {
            bindings = <&kp K>;
            key-positions = <70 56 42 41>;
        };

        BSaoi_b_R {
            bindings = <&kp B>;
            key-positions = <70 56 42 57>;
        };

        BSaon_v_R {
            bindings = <&kp V>;
            key-positions = <70 56 42 55>;
        };

        BStne_q_R {
            bindings = <&kp Q>;
            key-positions = <70 55 41 43>;
        };

        BStna_x_R {
            bindings = <&kp X>;
            key-positions = <70 41 42 55>;
        };

        BStni_j_R {
            bindings = <&kp J>;
            key-positions = <70 41 55 57>;
        };

        BStno_z_R {
            bindings = <&kp Z>;
            key-positions = <70 41 55 56>;
        };

        BSeiao_cbspc_R {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <70 57 43 42 56>;
        };

        BSeitn_sym_R {
            bindings = <&sl 5>;
            key-positions = <70 57 43 41 55>;
        };

        BSaotn_bt_R {
            bindings = <&sl 7>;
            key-positions = <70 55 41 42 56>;
        };

        BSeat_ret_R {
            bindings = <&kp RETURN>;
            key-positions = <70 43 42 41>;
        };

        BSean_paste_R {
            bindings = <&kp LC(V)>;
            key-positions = <70 43 42 55>;
        };

        BSeot_copy_R {
            bindings = <&kp LC(C)>;
            key-positions = <70 41 56 43>;
        };

        BSeon_undo_R {
            bindings = <&kp LC(Z)>;
            key-positions = <70 43 56 55>;
        };

        BSiat_cut_R {
            bindings = <&kp LC(X)>;
            key-positions = <70 57 42 41>;
        };

        BSian_showdesktop_R {
            bindings = <&kp LG(D)>;
            key-positions = <70 57 42 55>;
        };

        BSiot_redo_R {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <70 57 56 41>;
        };

        BSion_grave_R {
            bindings = <&kp GRAVE>;
            key-positions = <70 57 56 55>;
        };

        fingers_misc_R {
            bindings = <&sl 6>;
            key-positions = <43 42 41 55 56 57>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        bougie {
            display-name = "Base";
            bindings = <
&none  &none       &none  &none  &none  &none  &tog 2                                               &tog 1       &none  &none  &none  &none  &none       &none
&none  &none       &none  &none  &none  &none  &sys_reset                                           &sys_reset   &none  &none  &none  &none  &none       &none
&none  &kp BSPC    &kp E  &kp A  &kp T  &none  &bootloader  &none      &none      &none  &none      &bootloader  &none  &kp T  &kp A  &kp E  &kp BSPC    &none
&none  &kp ESCAPE  &kp I  &kp O  &kp N  &none                          &mo 3      &mo 3                          &none  &kp N  &kp O  &kp I  &kp ESCAPE  &none
&none  &none       &none  &none  &none         &key_repeat  &kp SPACE  &mo 4      &mo 4  &kp SPACE  &key_repeat         &none  &none  &none  &none       &none
            >;
        };

        typing {
            display-name = "Overlay";
            bindings = <
&none  &none     &none  &none  &none  &none  &trans                                               &trans       &none  &none  &none  &none  &none     &none
&none  &none     &none  &none  &none  &none  &trans                                               &trans       &none  &none  &none  &none  &none     &none
&none  &kp BSPC  &kp E  &kp A  &kp T  &none  &trans       &none      &none      &none  &none      &trans       &none  &kp T  &kp A  &kp E  &kp BSPC  &none
&none  &kp RET   &kp I  &kp O  &kp N  &none                          &mo 3      &mo 3                          &none  &kp I  &kp O  &kp N  &kp RET   &none
&none  &none     &none  &none  &none         &key_repeat  &kp SPACE  &mo 4      &mo 4  &kp SPACE  &key_repeat         &none  &none  &none  &none     &none
            >;
        };

        qwerty {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &trans     &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &trans                                                   &trans     &kp Y   &kp U   &kp I      &kp O     &kp P     &kp RET
&gresc     &kp A      &kp S     &kp D     &kp F      &kp G   &trans    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &trans     &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&tog 2     &kp GRAVE  &kp BSLH  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &tog 2
            >;
        };

        nav {
            display-name = "nav";
            bindings = <
&none  &none     &none      &none      &none      &none  &none                                     &none   &none  &none     &none      &none      &none      &none
&none  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &none  &none                                     &none   &none  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END    &none
&none  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &none  &none   &none   &none      &none  &none   &none   &none  &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT  &none
&none  &none     &kp LEFT   &kp DOWN   &kp RIGHT  &none                  &none      &none                  &none  &kp LEFT  &kp DOWN   &kp RIGHT  &none      &none
&none  &none     &none      &none      &none             &trans  &trans  &none      &none  &trans  &trans         &none     &none      &none      &none      &none
            >;
        };

        num {
            display-name = "num";
            bindings = <
&none  &none   &none   &none   &none   &none  &none                                     &none   &none  &none         &none   &none   &none   &none
&none  &none   &none   &none   &none   &none  &none                                     &none   &none  &none         &none   &none   &none   &none
&none  &kp N8  &kp N6  &kp N4  &kp N2  &none  &none   &none   &none      &none  &none   &none   &none  &kp NUMBER_4  &kp N5  &kp N6  &kp N0  &none
&none  &kp N9  &kp N7  &kp N5  &kp N3  &none                  &none      &none                  &none  &kp NUMBER_1  &kp N2  &kp N3  &none   &none
&none  &none   &none   &none   &none          &kp N1  &kp N0  &none      &none  &trans  &trans         &none         &none   &none   &none   &none
            >;
        };

        sym {
            display-name = "sym";
            bindings = <
&none  &none       &none       &none       &none       &none  &none                                     &none   &none  &none             &none       &none       &none       &none
&none  &kp K_MUTE  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &none  &none                                     &none   &none  &kp LS(N7)        &kp LS(N8)  &kp LS(N9)  &kp K_MUTE  &none
&none  &kp LS(N0)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &none  &none   &none   &none      &none  &none   &none   &none  &kp LS(NUMBER_4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N0)  &none
&none  &none       &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &none                  &none      &none                  &none  &kp LS(NUMBER_1)  &kp LS(N2)  &kp LS(N3)  &none       &none
&none  &none       &none       &none       &none              &trans  &trans  &none      &none  &trans  &trans         &none             &none       &none       &none       &none
            >;
        };

        misc {
            display-name = "misc";
            bindings = <
&none  &none       &none            &none       &none        &none  &none                                     &none   &none  &none        &none       &none            &none       &none
&none  &none       &none            &none       &none        &none  &none                                     &none   &none  &none        &none       &none            &none       &none
&none  &kp K_MUTE  &kp PRINTSCREEN  &caps_word  &sys_reset   &none  &none   &none   &none      &none  &none   &none   &none  &sys_reset   &caps_word  &kp PRINTSCREEN  &kp K_MUTE  &none
&none  &bl BL_TOG  &kp INS          &kp CAPS    &bootloader  &none                  &none      &none                  &none  &bootloader  &kp CAPS    &kp INSERT       &none       &none
&none  &none       &none            &none       &none               &trans  &trans  &none      &none  &trans  &trans         &none        &none       &none            &none       &none
            >;
        };

        bt {
            display-name = "bt";
            bindings = <
&none  &none         &none         &none         &none         &none  &none                                     &none   &none  &none         &none         &none         &none         &none
&none  &none         &none         &none         &none         &none  &none                                     &none   &none  &none         &none         &none         &none         &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none  &none   &none   &none      &none  &none   &none   &none  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none  &bt BT_SEL 4  &bt BT_PRV    &bt BT_NXT    &bt BT_CLR    &none                  &none      &none                  &none  &bt BT_CLR    &bt BT_NXT    &bt BT_PRV    &bt BT_SEL 4  &none
&none  &none         &none         &none         &none                &trans  &trans  &none      &none  &trans  &trans         &none         &none         &none         &none         &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
