#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&gresc { keep-mods = <(MOD_LSFT|MOD_RSFT)>; };

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        Numlock: Numlock {
            compatible = "zmk,behavior-tap-dance";
            label = "NUMLOCK";
            #binding-cells = <0>;
            bindings = <&sl 3>, <&tog 3>;
        };

        Navlock: Navlock {
            compatible = "zmk,behavior-tap-dance";
            label = "NAVLOCK";
            #binding-cells = <0>;
            bindings = <&sl 4>, <&tog 4>;
        };
    };

    combos {
        compatible = "zmk,combos";

        pinky_meta {
            bindings = <&sk LEFT_GUI>;
            key-positions = <15 29>;
        };

        ea_u {
            bindings = <&kp U>;
            key-positions = <16 17>;
        };

        et_c {
            bindings = <&kp C>;
            key-positions = <16 18>;
        };

        ei_lalt {
            bindings = <&sk LALT>;
            key-positions = <16 30>;
        };

        eo_y {
            bindings = <&kp Y>;
            key-positions = <16 31>;
        };

        en_w {
            bindings = <&kp W>;
            key-positions = <16 32>;
        };

        at_l {
            bindings = <&kp L>;
            key-positions = <17 18>;
        };

        ai_g {
            bindings = <&kp G>;
            key-positions = <17 30>;
        };

        ao_ctrl {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <17 31>;
        };

        an_d {
            bindings = <&kp D>;
            key-positions = <17 32>;
        };

        ti_m {
            bindings = <&kp M>;
            key-positions = <18 30>;
        };

        to_f {
            bindings = <&kp F>;
            key-positions = <18 31>;
        };

        tn_shift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <18 32>;
        };

        io_h {
            bindings = <&kp H>;
            key-positions = <31 30>;
        };

        in_s {
            bindings = <&kp S>;
            key-positions = <30 32>;
        };

        on_r {
            bindings = <&kp R>;
            key-positions = <32 31>;
        };

        eia_grave {
            bindings = <&kp GRAVE>;
            key-positions = <17 16 30>;
        };

        eit_minus {
            bindings = <&kp MINUS>;
            key-positions = <30 16 18>;
        };

        eio_comma {
            bindings = <&kp COMMA>;
            key-positions = <16 30 31>;
        };

        ein_dot {
            bindings = <&kp DOT>;
            key-positions = <30 16 32>;
        };

        eao_p {
            bindings = <&kp P>;
            key-positions = <31 17 16>;
        };

        aot_k {
            bindings = <&kp K>;
            key-positions = <31 17 18>;
        };

        aoi_b {
            bindings = <&kp B>;
            key-positions = <31 17 30>;
        };

        aon_v {
            bindings = <&kp V>;
            key-positions = <31 17 32>;
        };

        tne_q {
            bindings = <&kp Q>;
            key-positions = <32 18 16>;
        };

        tna_x {
            bindings = <&kp X>;
            key-positions = <18 17 32>;
        };

        tni_j {
            bindings = <&kp J>;
            key-positions = <18 32 30>;
        };

        tno_z {
            bindings = <&kp Z>;
            key-positions = <18 32 31>;
        };

        eiao_del {
            bindings = <&kp DELETE>;
            key-positions = <30 16 17 31>;
        };

        eitn_num {
            bindings = <&Numlock>;
            key-positions = <30 16 18 32>;
        };

        aotn_nav {
            bindings = <&Navlock>;
            key-positions = <32 18 17 31>;
        };

        eat_ret {
            bindings = <&kp RETURN>;
            key-positions = <16 17 18>;
        };

        ean_paste {
            bindings = <&kp LC(V)>;
            key-positions = <16 17 32>;
        };

        eot_copy {
            bindings = <&kp LC(C)>;
            key-positions = <18 31 16>;
        };

        eon_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <16 31 32>;
        };

        iat_cut {
            bindings = <&kp LC(X)>;
            key-positions = <30 17 18>;
        };

        ian_showall {
            bindings = <&kp LG(W)>;
            key-positions = <30 17 32>;
        };

        iot_redo {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <30 31 18>;
        };

        ion_gresc {
            bindings = <&gresc>;
            key-positions = <30 31 32>;
        };

        xc_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <48 49>;
        };

        xv_save {
            bindings = <&kp LC(S)>;
            key-positions = <48 50>;
        };

        cv_redo {
            bindings = <&kp LC(LS(Z))>;
            key-positions = <50 49>;
        };

        xcv_lockscreen {
            bindings = <&kp LG(L)>;
            key-positions = <48 49 50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        bougie {
            display-name = "Base";
            bindings = <
&tog 1  &none       &none      &none      &none      &none  &none                                                &none        &none  &none      &none      &none      &none    &tog 1
&none   &kp TAB     &kp E      &kp A      &kp T      &none  &sys_reset                                           &sys_reset   &none  &kp T      &kp A      &kp E      &kp TAB  &none
&none   &kp ESCAPE  &kp I      &kp O      &kp N      &none  &bootloader  &none      &none      &none  &none      &bootloader  &none  &kp N      &kp O      &kp I      &kp ESC  &none
&none   &none       &kp LC(X)  &kp LC(C)  &kp LC(V)  &none                          &none      &none                          &none  &kp LC(V)  &kp LC(C)  &kp LC(X)  &none    &none
&tog 2  &none       &none      &none      &none             &kp BSPC     &kp SPACE  &mo 0      &mo 0  &kp SPACE  &kp BSPC            &none      &none      &none      &none    &tog 2
            >;
        };

        typing {
            display-name = "typing";
            bindings = <
&tog 1  &none  &none   &none   &none   &none  &none                                          &none        &none  &none   &none   &none   &none  &tog 1
&none   &none  &trans  &trans  &trans  &none  &sys_reset                                     &sys_reset   &none  &trans  &trans  &trans  &none  &none
&none   &none  &trans  &trans  &trans  &none  &bootloader  &none   &none      &none  &none   &bootloader  &none  &trans  &trans  &trans  &none  &none
&none   &none  &none   &none   &none   &none                       &none      &none                       &none  &none   &none   &none   &none  &none
&none   &none  &none   &none   &none          &trans       &trans  &none      &none  &trans  &trans              &none   &none   &none   &none  &none
            >;
        };

        qwerty {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &none                                                    &none      &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp U   &kp I      &kp O     &kp P     &kp RET
&none      &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&tog 2     &kp GRAVE  &kp BSLH  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &tog 2
            >;
        };

        num {
            display-name = "num";
            bindings = <
&none  &none                 &none   &none   &none   &none  &none                                     &none   &none  &none         &none   &none   &none                  &none
&none  &mt LEFT_SHIFT MINUS  &kp N7  &kp N8  &kp N9  &none  &none                                     &none   &none  &kp N7        &kp N8  &kp N9  &mt RIGHT_SHIFT EQUAL  &none
&none  &kp N0                &kp N4  &kp N5  &kp N6  &none  &none   &none   &none      &none  &none   &none   &none  &kp NUMBER_4  &kp N5  &kp N6  &kp N0                 &none
&none  &none                 &kp N1  &kp N2  &kp N3  &none                  &none      &none                  &none  &kp NUMBER_1  &kp N2  &kp N3  &none                  &none
&none  &none                 &none   &none   &none          &trans  &trans  &none      &none  &trans  &trans         &none         &none   &none   &none                  &none
            >;
        };

        nav {
            display-name = "nav";
            bindings = <
&none  &none     &none      &none      &none      &none  &none                                     &none   &none  &none     &none      &none      &none      &none
&none  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &none  &none                                     &none   &none  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END    &none
&none  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &none  &none   &none   &none      &none  &none   &none   &none  &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT  &none
&none  &none     &kp LEFT   &kp DOWN   &kp RIGHT  &none                  &none      &none                  &none  &kp LEFT  &kp DOWN   &kp RIGHT  &none      &none
&none  &none     &none      &none      &none             &trans  &trans  &none      &none  &trans  &trans         &none     &none      &none      &none      &none
            >;
        };

        misc {
            display-name = "misc";
            bindings = <
&none  &none       &none            &none         &none        &none  &none                                     &none   &none  &none        &none         &none            &none       &none
&none  &bl BL_TOG  &kp INSERT       &caps_word    &sys_reset   &none  &none                                     &none   &none  &sys_reset   &caps_word    &kp INSERT       &bl BL_TOG  &none
&none  &kp K_MUTE  &kp PRINTSCREEN  &kp CAPSLOCK  &bootloader  &none  &none   &none   &none      &none  &none   &none   &none  &bootloader  &kp CAPSLOCK  &kp PRINTSCREEN  &kp K_MUTE  &none
&none  &none       &trans           &trans        &trans       &none                  &none      &none                  &none  &trans       &trans        &trans           &none       &none
&none  &none       &none            &none         &none               &trans  &trans  &none      &none  &trans  &trans         &none        &none         &none            &none       &none
            >;
        };

        bt {
            display-name = "bt";
            bindings = <
&none  &none         &none         &none         &none           &none  &none                                     &none   &none  &none           &none         &none         &none         &none
&none  &bt BT_SEL 4  &bt BT_PRV    &bt BT_NXT    &bt BT_CLR      &none  &none                                     &none   &none  &bt BT_CLR      &bt BT_PRV    &bt BT_NXT    &bt BT_SEL 4  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &none  &none   &none   &none      &none  &none   &none   &none  &bt BT_SEL 3    &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none  &none         &trans        &trans        &bt BT_CLR_ALL  &none                  &none      &none                  &none  &bt BT_CLR_ALL  &trans        &trans        &none         &none
&none  &none         &none         &none         &none                  &trans  &trans  &none      &none  &trans  &trans         &none           &none         &none         &none         &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
