
#define LOCOMBO(NAME, BINDINGS, KEYPOS) \
combo_l_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <COMBO_LAYERS>; \
}; \

#define LTCOMBO(NAME, CENTER_BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, KEYPOS) \
combo_lc_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <CENTER_BINDINGS>; \
        key-positions = <KEYPOS LCT>; \
        layers = <COMBO_LAYERS>; \
}; \
combo_li_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <INNER_BINDINGS>; \
    key-positions = <KEYPOS LIT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <OUTER_BINDINGS>; \
    key-positions = <KEYPOS LOT>; \
    layers = <COMBO_LAYERS>; \
};

#define ROCOMBO(NAME, BINDINGS, KEYPOS) \
combo_r_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <COMBO_LAYERS>; \
}; \

#define RTCOMBO(NAME, CENTER_BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, KEYPOS) \
combo_rc_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <CENTER_BINDINGS>; \
    key-positions = <KEYPOS RCT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_ri_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <INNER_BINDINGS>; \
        key-positions = <KEYPOS RIT>; \
        layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
        timeout-ms = <COMBO_TIMEOUT>; \
        bindings = <OUTER_BINDINGS>; \
        key-positions = <KEYPOS ROT>; \
        layers = <COMBO_LAYERS>; \
};

#define TCOMBO(NAME, CENTER_BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
LTCOMBO(##NAME, ##CENTER_BINDINGS, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##LEFT_KEYPOS) \
RTCOMBO(##NAME, ##CENTER_BINDINGS, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##RIGHT_KEYPOS)

#define OCOMBO(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
LOCOMBO(##NAME, ##BINDINGS, ##LEFT_KEYPOS) \
ROCOMBO(##NAME, ##BINDINGS, ##RIGHT_KEYPOS)

#define FCOMBO(NAME, BINDINGS, CENTER_BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
OCOMBO(##NAME, ##BINDINGS, ##LEFT_KEYPOS, ##RIGHT_KEYPOS) \
TCOMBO(##NAME, ##CENTER_BINDINGS, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##LEFT_KEYPOS, ##RIGHT_KEYPOS)

//** COMBOS **//
LTCOMBO(G, &as N0, &kp HOME, &as F10, TLP)
RTCOMBO(G, &as N0, &kp END, &as F10, TRP)
//|x| | | |
//| | | | |
//| | | | |

TCOMBO(R, &as N7, &kp PG_DN, &as F8, TLR, TRR)
//| |x| | |
//| | | | |
//| | | | |

TCOMBO(M, &as N8, &kp PG_UP, &as F8, TLM, TRM)
//| | |x| |
//| | | | |
//| | | | |

LTCOMBO(O, &as N9, &kp END, &as F9, TLI)
RTCOMBO(O, &as N9, &kp HOME, &as F9, TRI)
//| | | |x|
//| | | | |
//| | | | |

LTCOMBO(S, &as N0, &kp LEFT, &as F11, HLP)
RTCOMBO(S, &as N0, &kp RIGHT, &as F11, HRP)
//| | | | |
//|x| | | |
//| | | | |

TCOMBO(T, &as N4, &kp DOWN, &as F4, HLR, HRR)
//| | | | |
//| |x| | |
//| | | | |

TCOMBO(H, &as N5, &kp UP, &as F5, HLM, HRM)
//| | | | |
//| | |x| |
//| | | | |

LTCOMBO(E, &as N6, &kp RIGHT, &as F6, HLI)
RTCOMBO(E, &as N6, &kp LEFT, &as F6, HRI)
//| | | | |
//| | | |x|
//| | | | |

TCOMBO(C, &as N0, &kp LEFT, &as F12, BLM, BRM)
//| | | | |
//| | | | |
//|x| | | |

LTCOMBO(D, &as N1, &kp LEFT, &as F1, BLR)
RTCOMBO(D, &as N1, &kp RIGHT, &as F1, BRR)
//| | | | |
//| | | | |
//| |x| | |

TCOMBO(N, &as N2, &kp DOWN, &as F2, BLM, BRM)
//| | | | |
//| | | | |
//| | |x| |

LTCOMBO(A, &as N3, &kp RIGHT, &as F3, BLI)
RTCOMBO(A, &as N3, &kp LEFT, &as F3, BRI)
//| | | | |
//| | | | |
//| | | |x|

OCOMBO(MINUS, &as MINUS, TLP HLP, TRP HRP)
//|x| | | |
//|x| | | |
//| | | | |

OCOMBO(COMMA, &as COMMA, TLR HLR, TRR HRR)
//| |x| | |
//| |x| | |
//| | | | |

OCOMBO(DOT, &as DOT, TLM HLM, TRM HRM)
//| | |x| |
//| | |x| |
//| | | | |

OCOMBO(U, &as U, TLI HLI, TRI HRI)
//| | | |x|
//| | | |x|
//| | | | |
